<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Presentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/project.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light nav-bg">
        <div class="row">
            <a class="navbar-brand col-8" href="/">U.S. Cancer Rates Compared to Behavioral Health Factors</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="presentation">Presentation <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="visuals">Visualizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br /><br />
          <div class="row">
              <div class="col-md-12 center">
                  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSX6EbQfl4WC6pmO_ReQ_BueOkVxSE0RG-o-NyWga4klbFSnPUpM2vjGq4Cav5Ns76lKWGwMNTMRevX/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
              </div>
          </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-6 d-flex">
            <span class="text-muted">Last Updated November 2022</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <span class="text-muted">U.S. Cancer Rates Compared to Behavioral Health Factors on GitHub</span>&nbsp;&nbsp;
            <a href="https://github.com/Lindsey-Maag/Group_Project_Health" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="/static/img/GitHub-Mark-32px.png" class="bi" width="30" height="24">
            </a>&nbsp;&nbsp;
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>